<% include ./partials/header %> 
<link href="css/login.css" rel="stylesheet" type="text/css">

<style>
    .about{
        border-radius: 13px;
        text-align: center;
    }
</style>
<br><br>
<div class="container about alert alert-success">
     
    <div class="heading">
        <h1><u>About</u></h1>
    </div>
    <br>
    <div class="body">
      <p><b>Playpal</b> is an open source project created by a Second Year Undergraduate student of National Institute Of Techonology , Durgapur.</p>
      <p><b>Playpal </b>,a music storing playlist with access to a wide reportoire of songs, can be a brilliant choice to store and play your desired songs. </p>
      <p>Link to Github Repository:<a href="https://github.com/lugnitdgp/PlayPal">https://github.com/lugnitdgp/PlayPal</a></p>
      <p>To contribute to the project,Kindly head to the link above.</p>
    </div>
</div>
<br><br>
<% include ./partials/footer %> 