<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
	<div class="alert alert-success">
         <center> <h4> You didn't provide any search keyword.</h4> </center>
        <br>
		<form action="/" method="GET">
			<button class="btn btn-outline-success my-2 my-sm-0" role="button" >CLick here to Search again.</button>	
		</form>
		
	</div>
</div>


<% include partials/footer %>