<% include partials/header %>
<div class="cover">  
	 <form class="flex-form" action="/list" method="GET">
		<label for="from">
			<i class="ion-location"></i>
		  </label>
		<input type="text" placeholder="Song" name="Search">
		<input type="submit">
	</form>
 </div>
 
 
<% include partials/footer %>