<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
	<div class="alert alert-success">
		<h1>Results Page!!!</h1>
    <p>
        RESULTS for your Search
    </p>
    <form action="/back" method="POST">
        <button class="btn btn-outline-success my-2 my-sm-0" role="button" >Search Again!</button>	
    </form>
	</div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <% Song.forEach(function(song) { %>
            <div class="col mb-4">
                <div class="card-transparent h-100">
                    <img src=<%=song["image"]%> class="card-img-top" alt="...">
                    <div class="card-body">
                    <h4 class="card-title"><strong><%= song["name"] %></strong></h4>
						<p class="card-text"><%=song["artist"]%></p>
                    <form action="/addplaylist/<%= song._id %>" method="GET">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ADD to playlist</button>
                  </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<br>

<% include partials/footer %>