<% include partials/header %>
<h1>Results Page!!!</h1>
<p>
	 RESULT FOR-
</p>
<!-- <button href="/">Search Again!</button> -->



<div class="container-fluid">
	<form action="/back" method="POST">
	<button >Search Again!</button>
    </form>

	<ul  class="list-group">
		<% Song.forEach(function(song) { %>
		  <li class="list-group-item">
			  <img src=<%=song["image"] %>>
			  <strong>
				  <%= song["name"] %> -
			  </strong> 
				 <%=song["artist"]%>
			  <form action="/addplaylist/<%= song._id %>" method="GET">
				  <button>ADD to playlist</button>
			</form>
		  </li>
		<% }) %>

	</ul>

</div>

<div class="float-right">
	<iframe src="https://webdevbootcamp-hnsme.run.goorm.io/playlist"></iframe>
</div><br>


<% include partials/footer %>