<% include partials/header %>
<h1>Results Page!!!</h1>
<p>
	 RESULT FOR-
</p>
<!-- <button href="/">Search Again!</button> -->
<form action="/" method="GET">
	<button  type="button" class="btn btn-primary btn-block">Search Again!</button>
</form>


<div class="container-fluid">

	<ul  class="list-group">
		<% Song.forEach(function(song) { %>
		  <li class="list-group-item">
			  <strong>
				  <%= song["name"] %> -
			  </strong> 
				 <%=song["artist"]%>
			     <%= song._id %>
			  <form action="/addplaylist/<%= song._id %>" method="GET">
				  <button>ADD to playlist</button>
			</form>
		  </li>
		<% }) %>

	</ul>

</div>


<% include partials/footer %>