<% include ./partials/header %> 
<link href="css/login.css" rel="stylesheet" type="text/css">


<div class="container">
  
  <%if(alertMessages){%>
    <% alertMessages.forEach((message)=>{ %>
          <div class="alert alert-danger alert-dismissible alert-delete">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align: center;"><strong>Error:</strong> <%= message %></p>
          </div>
      <%})%>
  <%}%>
  <% if(successMessages) {%>
		<% successMessages.forEach((message)=>{ %>
			  <div class="alert alert-success alert-dismissible alert-delete">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p style="text-align: center;"><strong>Success:</strong> <%= message %></p>
			  </div>
		  <%})%>
	<%}%>
  </div>
  
<div class="container">
  <div class="alert alert-success">
    <h1 id="n" style="text-align: center;">Login!</h1>
  </div>

<div class="login-page">
    <div class="form">
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input class="btn btn-outline-success my-2 my-sm-0" role="button" type="submit" value="Login!">
      </form>
      <p>
      </p>
      <p> Dont have an Account?  </p>
       
        <a class="btn btn-block btn-outline-success my-2 my-sm-0" role="button" href="/register">SIGNUP</a>
        
        <a class="btn btn-block btn-danger" role="button" href="/auth/google"> <i class="fa fa-google">  Sign In With Google </i></a>
    </div>
  </div>
</div>

<% include ./partials/footer %> 
