<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
	<div class="alert alert-success">
		<form action="/back" method="POST">
			<button class="btn btn-outline-success my-2 my-sm-0" role="button" >Search Again!</button>	
		</form>
	</div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
		<% playlists.forEach(function(playlist) { %>
		    <%if(user===playlist["author"]){%>
            <div class="col mb-4">
                <div class="card-transparent h-100">
                    <div class="card-body">
						<h4 class="card-title"><strong><%= playlist["name"] %></strong></h4>
						<!-- <p class="card-text"><strong>CREATED BY-</strong><%=playlist["author"]%></p> -->
						<form action="/playlist/<%=playlist._id %>" method="GET">
							<input class="btn btn-outline-success my-2 my-sm-0" role="button" type="submit" value="List"></input>
						</form>
						<br>
						<form action="/playlist/<%=playlist._id %>?_method=DELETE" method="POST">
							<input class="btn btn-outline-danger" role="button" type="submit" value="DELETE">
						</form>
					   
                    </div>
                </div>
            </div>
		     <%}%>
        <% }) %>
    </div>
</div>

<% include partials/footer %>