<% include partials/header %>

	<form action="/back" method="POST">
	<button >Search Again!</button>
	</form>

<div class="container-fluid">

	
	<ul  class="list-group">
		<% Song.forEach(function(song) { %>
		  <li class="list-group-item">
			  <strong>
				  <%= song["name"] %> -
			  </strong>
			  <form action="/playlist/<%=song._id %>" method="GET">
				<input type="submit" value="ADD">
			  </form>
		  </li>
		<% }) %>

	</ul>

</div>


<% include partials/footer %>