<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="alert alert-light" role="alert">
		<h1>Successfully Registered</h1>
		<div class="alert alert-light" role="alert">
			<form action="/back" method="POST">
				<button class="btn btn-outline-success my-2 my-sm-0">Go Back</button>
			</form>
		</div>
	
	</div>
</div>
<% include partials/footer %>