<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
	<div class="alert alert-success">
         <center> <h4> Incorrect Username or Password </h4> </center>
        <br>
		<form action="/login" method="GET">
			<button class="btn btn-outline-success my-2 my-sm-0" role="button" >CLick here to Login again.</button>	
		</form>
		<form action="/register" method="GET">
			<button class="btn btn-outline-success my-2 my-sm-0" role="button" >CLick here to Signup</button>	
		</form>
	</div>
</div>

<% include partials/footer %>