<% include ./partials/header %> 
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="alert alert-success">
    <h1 id="n">Sign Up</h1>
  </div>
<div class="login-page">
    <div class="form">
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn btn-outline-success my-2 my-sm-0">Sign Up</button>
        </form>
      <p>
          
      </p>
      <p>
        Already have an Account?
        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/login">Log In</a>
    
    </p>
    </div>
  </div>
</div>
<% include ./partials/footer %> 
