<% include ./partials/header %>
    <link href="css/login.css" rel="stylesheet" type="text/css">

    <div class="container">
        <div class="alert alert-success">
            <center>
                <h1 id="n">Sign Up</h1>
            </center>

        </div>
        <div class="login-page">
            <br><br>
            <div class="form">
                <form action="/register" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <input type="password" name="confirmPassword" placeholder="Confirm password">
                    <input class="btn btn-outline-success my-2 my-sm-0" style="color: rgb(39, 38, 37); background-color: rgb(137, 178, 206);" value="Sign Up">
                </form>
                <p>

                </p>
                <p>
                    Already have an Account?
                    <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/login">Log In</a>

                </p>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>