<% include partials/header %>
<link href="css/login.css" rel="stylesheet" type="text/css">

<div class="container">
	<div class="alert alert-success">
         <center> <h4> Welcome to your Account, <%= currentUser.username %> </h4> </center>
        <br>
		<form action="/playlist" method="GET">
			<button class="btn btn-outline-success my-2 my-sm-0" role="button" >GO TO YOUR PLAYLISTS</button>	
		</form>
	</div>
</div>

<% include partials/footer %>