
  .navbar{
    min-height:40px;
}
.navbar  a {
    font-size: 20px;
}
.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom : 50px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}