@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRU_yM8cHdjq-v1nsbXDKdshnQ8hpVMadNAB5oU2J_cIJnCbT96');
  }

  .card-body{
    background-color:#d4edda;
    text-align: center;
  }
  
.audio-player-cont{
  position: relative;
  z-index: 1;
  margin: 0auto;
  text-align: center;
  width: 450px;
  float: center;
  height: 135px;
  background:#d4edda;
  box-shadow: 0 0 6px 2px #c7a8a8;
  color: rgba(0, 0, 0, 0.479);
  font-family:"Roboto", sans-serif;
  font-size: 12px;
}
.logo{
  float:left;
}
.player{
  float:right;
  margin: 7px;
}
.song-title{
  width: 300px;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}
.song-slider{
  width :300px;
}
.current-time{
  float: left;
  font-size: 10px;

}
.duration{
  float:right;
  font-size: 10px;
}
.controllers{
  clear:both;
  display: table;
}
.controllers *{
  vertical-align: middle;
  margin-right: 2px;
}
.volume-slider{
  width: 90px;
  margin-left: 5px;
}